{% extends "layout.html" %}
{% block title %}Accueil{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      Authentification :
    </div>
  </div>
</div>
<form method="POST" action="/login">
  <label for="username">Nom d'utilisateur:</label>
  <input type="text" id="username" name="username"><br><br>
  <label for="password">Mot de passe:</label>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="Se connecter">
</form>
{% endblock %}